@import "../../../global/mediaQuery.scss";
$color-border: #ae903b;
.wrapper {
  border: 1px solid $color-border;
  cursor: pointer;
  // background-color: aqua;
  width: 100%;
  @include mobile {
  }
}
.bg {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-repeat: no-repeat;
  background-size: 100% 100%;
}
