// $padding-left-right: 174px;
$min-w-menu: 750px;
.wrapper {
  border-top: 2px solid #ae903b;
  display: flex;
  align-items: center;
  flex-direction: column;
}
.w-menu {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 50px;
  padding-bottom: 50px;
}
.menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-width: $min-w-menu;
  width: $min-w-menu;
}
.content {
  max-width: var(--max-w-app);
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  display: none; //fix
}
.btn-wrapper {
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 40px;
}
