// $padding-left-right: 174px;
$min-w-menu: 750px;
.wrapper {
  border-top: 2px solid #ae903b;
  padding: 0px var(--padding-left-right);
}
.w-menu {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 50px;
  padding-bottom: 50px;
}
.menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-width: $min-w-menu;
  width: $min-w-menu;
}
.content {
  // background-color: white;
  // padding-top: -80px;
}
.btn-wrapper {
  height: 40px;
  // background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 40px;
}
