@import "normalize.css";
@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,400;0,500;0,600;0,700;0,800;0,900;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
:root {
  //color
  --white: #ffffff;
  --primary: #160e1e;
  //bg

  --footer-color: #160e1e;
  //default layout

  //hover

  //font-name
  --font-Montserrat: "ProximaNova", sans-serif;

  //z-index
  --z-default: 0;
  --z-low: 10;
  --z-medium: 100;
  --z-hight: 1000;
}
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  font-size: 62.5%;
  font-family: var(--font-Montserrat);
}

body {
  font-size: 1.6rem;
  font-weight: 400;
  font-style: normal;
  line-height: 1.5;
  text-rendering: optimizeSpeed;
  overflow: hidden overlay;
  scroll-behavior: smooth;
}

a {
  text-decoration: none;
}

div {
  background-repeat: no-repeat;
}
img {
  vertical-align: middle;
  border: none;
}
