.wrapper {
  height: 1000px;
}
.padding-layout {
  padding: 0 var(--padding-left-right);
}

.news {
}
.title {
  text-transform: uppercase;
  color: var(--text-primary);
  font-weight: bold;
  font-size: 3.6rem;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 50px 0;
}
.card-main {
  padding: 0 8px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.card-sub {
  margin-top: 40px;
  display: flex;
  align-items: center;
  padding: 0 8px;
  justify-content: center;
}
.card-sub-col {
  display: flex;
  justify-content: center;
  width: 564px;
  & + .card-sub-col {
    margin-left: 32px;
  }
}

.btn-more {
  padding: 36px 0;
}
