@import "../../global/mediaQuery.scss";
$text-color-title: var(--text-primary);
$layout-padding: 16px;
$border-color: var(--gold);
.wrapper {
  // display: flex;
  // align-items: center;
  // justify-content: center;
  // flex-direction: column;
}

.title {
  color: $text-color-title;
  text-transform: uppercase;
  font-weight: bold;
  text-align: center;
}

.new-w {
  width: 100%;
  background-color: aliceblue;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}
.default-layout {
  padding: $layout-padding $layout-padding;
}
.card-one {
  border: 1px solid $border-color;
  height: 200px;
  width: 100%;
  // height: auto;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  & + .card-one {
    margin-top: 20px;
  }
  p {
    padding: 0;
    background-color: aliceblue;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    color: var(--text-primary);
    font-weight: bold;
  }
}
