$bg-color: #d8d1bc;
.wrapper {
  text-transform: capitalize;
  font-size: 1.8rem;
  font-weight: 300;

  color: var(--white);
  height: 60px;
  width: 120px;
  background-repeat: no-repeat;
  background-position: bottom center;
  background-size: 100% 100%;
}

.wrapper:hover {
  background-image: url("./btn-active.png") !important;
  // background-color: $bg-color;
  .content {
    font-weight: bold;
    color: var(--black);
  }
}
.content {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: transparent;
  color: var(--white);
}

.wrapper.active {
  background-image: url("./btn-active.png") !important;
  .content {
    font-weight: bold;
    color: var(--black);
  }
}
